<script src="../../PlugIn/jquery.js"></script>
<body>
  <div id="CardHtmlComponents">
  
  </div>
</body>

<script src="../../Scripts/helper.js"></script>
<script src="../jsComponents/class/card.js"></script>
<script src="../jsComponents/services/cardService.js"></script>
<script>
  $(window).on("load", function(){
    
      var result =""
      var t = this.ArtistaGetAll().then(result => {
       
        var card = new Card(result,$("#CardHtmlComponents"))
        
       
      }).catch(erro => {
        throw new Error("NAo foi possivel pegar os artistas")
      })
  });
</script>